@import url('https://fonts.googleapis.com/css?family=Abel');

$bodyBg: #dbdbdb;
$font: 'Abel', sans-serif;
$cardShadow: 5px 5px 25px rgba(0,0,0,0.4);
$cardGradient: linear-gradient(#ff4c4c 0%, #5be1ff 80%);
$borderRadius: 15px;


.card2{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid;
    overflow: hidden;
    box-shadow: 0 0 10px 2px;
    transition:.6s;
    border-radius:$borderRadius ;
  }
  .filter{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(20,20,220,.8), rgba(220,220,20,.8), rgba(20,220,20,.8));
    z-index: 10;
    transition:.6s;
    opacity: 0;
  }
  .card2 img{
    position: absolute;
    top: 0;left: 0;
    max-width: 100%;
    height: 100%;
    transition:.6s;
  }
  
  .top,.bottom{
    position: absolute;
    left: 50%;
    background: #04a9f5;
    height: 1px;
    width: 0;
    z-index: 10;
    transition: .6s;
  }
  .top{
    top:10%;
  }
  
  .bottom{
    bottom: 10%;
  }
  
  .left,.right{
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 10;
    width: 1px;
    height: 0;
    background: #04a9f5;
    transition: .6s;
  }
  .right{
    left: 90%;
  }
  .desc{
    position: absolute;
    top:3%;left: 10%;
    background: rgba(0,0,0,.3);
    width: 80%;
    height: 79%;
    z-index: 10;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  .desc p{
      position: absolute;
      top: 50px;
      left: 20;
    font-size: 1.75em;
    color: #04a9f5;
    font-family: 'Anton';
  }
  
  .card2:hover img{
    transform: scale(1.2);
  }
  .card2:hover .filter{
    opacity: .15;
  }
  
  .card2:hover .top{
    top:3%;
    left: 10%;
    width: 80%;
  }
  .card2:hover .bottom{
      top:82%;
    left: 10%;
    width: 80%;
  }
  
  .card2:hover .left{
    top: 3%;
    height: 79%;
  }
  
  .card2:hover .right{
    top: 3%;
    height: 79%;
  }
  
  .card2:hover .desc{
    opacity: 1;
  }
  
.card1 {
  width: 295px;
  height: 380px;
  
  border-radius: $borderRadius;
  -webkit-box-shadow: $cardShadow;
  -moz-box-shadow: $cardShadow;
  box-shadow: $cardShadow;
  position: relative;
  transition: transform 200ms ease;
  
  .card1-menu {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .card1-menu > i:nth-of-type(1) {
    color: #04a9f5;
    font-size: 22px;
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
  }
  
  .card1-menu > i:nth-of-type(2) {
    color: red;
    font-size: 22px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  
  & > span {
    margin: auto;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    font-size: 32px;
    color: white;
    text-align: center;
  }
  
  & > i {
    color: #04a9f5;
    font-size: 290px;
    margin: auto;
    position: absolute;
    top: 105px;
    right: 0;
    left: 0;
    z-index: 999;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));
    text-align: center;
    font-weight: normal;
  }
  
  & > span, & > i {
    animation: delayChildBack 300ms;
  }
  
  .card-menu > i:nth-of-type(1), .card-menu > i:nth-of-type(2), .card-btn {
    animation: delayChildEaseBack 300ms;
  }
}

.card-after {
  transform: translateX(-200px);
  
  & > span, & > i {
    animation: delayChild 300ms;
  }
  
  .card-menu > i:nth-of-type(1), .card-menu > i:nth-of-type(2), .card-btn {
    animation: delayChildEase 300ms;
  }
}

@keyframes delayChild {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(23px);
  }
  50% {
    transform: translateX(46px);
  }
  75% {
    transform: translateX(23px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes delayChildEase {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes delayChildBack {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-23px);
  }
  50% {
    transform: translateX(-46px);
  }
  75% {
    transform: translateX(-23px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes delayChildEaseBack {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
  
.card1-footer {
    position: relative;
  left: 80px;
  top: -60px;

  align-items: center;
  justify-content: center;

}

.card1-btn {
  width: 140px;
  height: 40px;
  border: 2px solid #04a9f5;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #04a9f5;
  position: relative;
  z-index: 2;
  cursor: pointer;
  
  & > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity ease 200ms;
    z-index: 2;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #04a9f5;
    border-radius: $borderRadius - 5px;
    transform: scaleX(0);
    transition: transform ease 200ms;
    z-index: 0;
  }
  
  &:hover {
    & > span {
      opacity: .8;
      animation: btnPop 250ms 150ms;
    }
  }
  
  &:hover::after {
    transform: scaleX(1);
  }
}

@keyframes btnPop {
  25% {
    transform: scale(0.6,1.4);
  }
  50% {
    transform: scale(1.25,0.75);
  }
  75% {
    transform: scale(0.85,1.15);
  }
  100% {
    transform: scale(1,1);
  }
}